version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres-medios
    environment:
      POSTGRES_DB: mediosdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - micro-net

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    volumes:
      - minio_data:/data
    networks:
      - micro-net

  media-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: media-service
    environment:
      FLASK_APP: app.py
      FLASK_RUN_HOST: 0.0.0.0
      FLASK_RUN_PORT: 6000
      DATABASE_URL: postgresql://postgres:password@postgres:5432/mediosdb
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin123
      MINIO_BUCKET: media
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - postgres
      - minio
    ports:
      - "6000:6000"
    networks:
      - micro-net

volumes:
  postgres_data:
  minio_data:

networks:
  micro-net:
    external: true
